a{
    width: 300px;
    height: 250px;
    border-color: rgb(0, 255, 255);
    border-width: 5px;
    border-style: solid;
    background-color: rgb(78, 78, 79);
    color: rgb(0, 255, 255);
    margin: 10px;
    font-size: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: end;
    border-radius: 5px;
}

a:hover{
    background-color: rgb(105, 105, 106);
}

img {
    color: rgb(0, 255, 255);
    filter: invert(80%) sepia(10%) saturate(5660%) hue-rotate(128deg) brightness(102%) contrast(107%);
}