a{
    width: 300px;
    height: 250px;
    border-color: var(--primary-color);
    border-width: 5px;
    border-style: solid;
    background-color: var(--neutral-background-color);
    color: var(--primary-color);
    margin: 10px;
    font-size: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: end;
    border-radius: 5px;
}

a:hover{
    background-color: var(--light-background-color);
}

img {
    color: var(--primary-color);
    filter: invert(80%) sepia(10%) saturate(5660%) hue-rotate(128deg) brightness(102%) contrast(107%);
}