.container{
    text-align: left;
    margin: auto;
    width: 68%;
}
p{
    color: white;
}

.questions{
    border: 5px solid var(--primary-color);
    background-color: var(--dark-background-color);
    border-radius: 5px;
    padding: 5px;
}