<div class="container">
    <h1>ABOUT</h1>
    <div class="questions">
        <h2>
            So what even is this place?
        </h2>
        <p>
            NPC Showdown is a place where you can create teams for NPC Pokemon trainers and then have them fight each other. The trainers are AI controlled (similar to the games). You can either have them fight a singular battle, or pit a bunch of them against each other in a round robin tournament.
        </p>
        <h2>
            Is this affiliated with Pokemon Showdown?
        </h2>
        <p>
            Nope! The name is simply a reference. This is a hobby project written entirely by one person. Pokemon Showdown's code is not being used anywhere in this project.
        </p>
        <h2>
            So how do I get started?
        </h2>
        <p>
            You can start by running a tournament with the sample trainers to see what you're getting into. From there, you can start making your own trainers. If you want to reuse the trainers that you make, you can either save them to a file on your computer, or you can create an account and have the application keep track of them for you.
        </p>
        <h2>
            Do you store any of my data?
        </h2>
        <p>
            NPC Showdown stores data about the trainers you save to your profile, as well as the trainers you use in tournaments. Trainers used in tournaments (including their names and the nicknames of their pokemon) are publicly viewable by anybody with the URL or the tournament ID. This is true even for tournaments ran when not logged in. Deleting your account will permanently delete all of your saved trainers as well as every tournament you ran.
        </p>
    </div>
</div>