body{
    background-color: #292929;
    font-family: Andale Mono;
    color: white;
}

button{
    background-color: #0fff77;
    color: white;
    border: none;
    border-radius: 3px;
}

.menu{
    width: 90%;
    margin: auto;
    margin-top: 10%;
    border: 3px solid white;
}

.menu .title{
    width: fit-content;
    margin: auto;
    font-size: xx-large;
}

.menu .buttons{
    display: flex;
    margin: auto;
    width: fit-content;
    border: 3px solid blue;
}

.menu .button{
    width: 250px;
    height: 200px;
    background-color: black;
    box-sizing: content-box;
}

.menu .button a{
    width: 100%;
    height: 100%;
}

.menu .padding{
    width: 5px;
}