.create-trainer-container{
    background-color: rgb(78, 78, 79);
    border-radius: 5px;
    margin-bottom: 10px;
}

.collapsible-header{
    width: 100%;
    text-align: center;
    height:70px;
    background-color: rgb(78, 78, 79);
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
}

.collapsible-header label{
    width: 11%;

}

button:hover{
    background-color: rgb(105, 105, 106);
}

h2{
    display: inline-block;
    padding-right: 20px;
}

.import-save-buttons button{
    margin-right: 8px;
    margin-bottom: 20px;
    height: 40px;
}


.trainer-info{
    padding-bottom: 10px;
}

.name{
    display: inline-block;
    
}

.pokemon-count{
    display: inline-block;
    
}

.level{
    display: inline-block;
}

.add-pokemon-button{
    height: 40px;
    width: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.trainer-name{
    display: inline-block;
    padding-right: 10px;
}

.trainer-level{
    display: inline-block;
}

input, select{
    width: 350px;
    height: 35px;
    font-size: 15px;
    outline: none; /* This might not be good for accessability */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.add-pokemon-button{
    margin-left: 30px;
}

.remove-trainer-button{
    width: 30px;
    height: 30px;
    
}

.tournament-results{
    
    
    margin-left: auto;
}

.tournament-results label{
    margin-left: 50px;
    margin-right: 50px;
}

.best-win-button{
    margin: auto;
    border: none;
    border-radius: 0px;
    background: none;
}

.best-win-button:hover{
    cursor: pointer;
    text-decoration: underline;
    color: aqua;
}