<div>
<button class="collapsible-header" (click)="toggleCollapsible()">
    <h2>Trainer {{trainerNum}}</h2>
    <div class="info" [hidden]="!this.collapsed">
        <div class="name">
            {{this.nameInput?.value}}
        </div>
        <div class="pokemon-count">
            {{this.pokeComponents.length}}/6
        </div>
        <div class="level">
            {{this.levelSelect?.value}}
        </div>
    </div>
</button>
<div class="import-save-buttons" [hidden]="this.collapsed">
    <button (click)="loadFromFile();">Import from File</button>
    <button>Import from My Trainers</button>
    <button (click)="download();">Save to File</button>
    <button>Save to My Trainers</button>
</div>
<div class="trainer-info" [hidden]="this.collapsed" #trainerInfo>
    <div class="trainer-name">
        <label>Trainer Name: </label>
        <input>
    </div>
    <div class="trainer-level">
        <label>Trainer AI Level: </label>
        <select>
            <option *ngFor="let level of dataLists.trainerLevelList" value="{{level}}">{{level}}</option>
        </select>
    </div>
</div>
<div class="pokemon-list" [hidden]="this.collapsed" #container>
</div>
<button class="add-pokemon-button" [hidden]="this.pokeComponents.length > 5 || this.collapsed" (click)="addPoke()">Add Pokemon</button>
</div>