.create-trainer-container{
    border-radius: 5px;
    margin-bottom: 10px;
    border: 3px solid var(--dark-background-color);
}

.collapsible-header{
    width: 100%;
    text-align: center;
    height:50px;
    background-color: var(--dark-background-color);
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.collapsible-header label{
    width: 11%;

}

.collapse-button{
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0);
    font-size: 17px;
    margin-right: 3px;
    transition: background-color 0.1s;
}

.collapse-button:hover{
    background-color: var(--light-background-color);
}

h2{
    display: inline-block;
    padding-right: 20px;
}

.import-save-buttons button, app-spinning-button{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 200px;
    font-size: 15px;
    --btn-font-size: 15px;
    --spinner-size: 10px;
}

.import-save-buttons button:disabled{
    background-color: rgb(0, 255, 0);
}


.trainer-info{
    padding-bottom: 10px;
    margin-left: 9px;
}


.name{
    display: inline-block;
    
}

.pokemon-count{
    display: inline-block;
    
}

.level{
    display: inline-block;
}

.trainer-name{
    display: inline-block;
    padding-right: 10px;
}

.trainer-level{
    display: inline-block;
}

input, select{
    width: 350px;
    height: 35px;
    font-size: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.add-pokemon-btn{
    height: 100%;
    width: 16.66%;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    border-right: 2px solid var(--light-background-color);
    border-radius: 0px;
    color: var(--primary-color);
    transition: background-color 0.1s;
}

.add-pokemon-btn:hover{
    background-color: var(--neutral-background-color);
}

.remove-trainer-button{
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 5px;
}

.tournament-results{
    
    
    margin-left: auto;
}

.tournament-results label{
    margin-left: 50px;
    margin-right: 50px;
}

.best-win-button{
    margin: auto;
    border: none;
    border-radius: 0px;
    background: none;
}

.best-win-button:hover{
    cursor: pointer;
    text-decoration: underline;
    color: var(--primary-color);
}

.pokemon-block{
    width: 100%;
    border-radius: 2px;
    border-top: 3px solid var(--dark-background-color)
}

.pokemon-tabs{
    height:50px;
    background-color: var(--middle-background-color);
}

.pokemon-tab{
    float: left;
    background-color: rgba(0,0,0,0);
    height: 100%;
    width: 16.66%;
    border-radius: 0px;
    border-right: 2px solid var(--light-background-color);
    transition: background-color 0.1s;
    overflow-x: hidden;
}

.pokemon-tab:hover{
    background-color: var(--upper-background-color);
}

.pokemon-details{
    width: 100%;
    padding-top: 10px;
    
    
}

.pokemon-details input{
    width: 350px;
}

.stat-value-input input{
    width: 58.33px;
}

.stat-label{
    display: inline-block;
    margin-top: 17px;
    width: 58.33px;
    text-align: center;
}

.edit-trainer-button{
    margin-right: 5px;
    background-color: rgba(0,0,0,0);
    width: 30px;
    height: 30px;
}

.edit-trainer-button:hover{
    background-color: var(--neutral-background-color);
}

.edit-trainer-button img{
    filter: invert(99%) sepia(9%) saturate(230%) hue-rotate(193deg) brightness(115%) contrast(100%);
    width: 20px;
    height: 20px;
}

.delete-trainer-button{
    margin-right: 5px;
    background-color: rgba(0,0,0,0);
    width: 30px;
    height: 30px;
}

.delete-trainer-button:hover{
    background-color: var(--neutral-background-color);
}

.delete-trainer-button img{
    filter: invert(99%) sepia(9%) saturate(230%) hue-rotate(193deg) brightness(115%) contrast(100%);
    width: 25px;
    height: 25px;
}

.update-trainer-button{
    margin-left: auto;
    margin-right: 10px;
    background-color: rgb(0, 255, 30);
    width: fit-content;
    height: 30px;
    width: 30px;
    font-size: 20px;
}

.undo-changes-button{
    background-color: rgb(255, 0, 30);
    height: 30px;
    width: 30px;
    font-size: 20px;
    margin-right: 10px;
}

.pokemon-column{
    display: inline-block;
    vertical-align: top;
    margin-left: 9px;
}

@media (max-width: 930px){
    .pokemon-tabs{
        height: 120px;
    }

    .pokemon-tab{
        width: 33.33%;
        height: 50%;
    }

    .add-pokemon-btn{
        width: 33.33%;
        height: 50%;
    }


    .pokemon-column{
        width: 100%;
        margin-left: 0px;
        vertical-align: baseline;
    }
    .pokemon-details input{
        width: 100%;
    }

    .pokemon-details select{
        width: 100%;
    }

    .trainer-info{
        margin-left: 0px;
    }

    .trainer-info input{
        width: 100%;
    }

    .trainer-info select{
        width: 100%;
    }

    .trainer-level{
        width: 100%;
    }

    .trainer-name{
        width: 100%;
    }

    .stat-value-input input{
        width: 16.66%;
        
    }

    .stat-label{
        width: 16.66%;
    }

    .stat-value-input .inline-label{
        display: none;
    }

    .collapsible-header{
        font-size: 10px;
    }

    .collapsible-header button{
        font-size: 10px
    }
}

.pokemon-input{
    margin-bottom: 3px;
}

.inline-label{
    display: inline-block;
    width: 90px;
    font-weight: bold;
}

.stat-input-wrapper{
    display: inline-block;
    width: 350px;
}

.remove-pokemon-btn{
    float: right;
    font-size: 15px;
    vertical-align: top;
    background-color: rgba(0,0,0,0);
}

.remove-pokemon-btn:hover{
    color: var(--primary-color);
    background-color: var(--neutral-background-color);
}

img{
    display: inline-block;
    vertical-align: middle;
}
.pokemon-label{
    vertical-align: middle;
}

.modal-background {
    /* Hidden by default */
   position: fixed; 
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
   background-color: var(--neutral-background-color);
   border: 3px solid var(--dark-background-color);
   margin: auto;
   margin-top: 35vh;
   padding-right: 10px;
   padding-left: 10px;
   width: 600px; /* Could be more or less, depending on screen size */
   height: 200px;
}

.modal-content h3{
    margin: auto;
    width: fit-content;
    margin-top: 10px;
}

.confirm-buttons{
    width: fit-content;
    margin: auto;
    margin-top: 40px;
}

.confirm-button{
    display: inline-block;
    width: 200px;
    height: 50px;
}

@media (max-width: 1034px){
    .modal-content{
        width: 300px;
    }

    .confirm-button{
        width: 110px;
    }
}

@media (max-width: 906px){
    .import-save-buttons button, app-spinning-button{
        width: 46%;
        font-size: 9px;
        --btn-font-size: 9px;
        --spinner-size: 5px;
    }
}
