.create-trainer-container{
    border-radius: 5px;
    margin-bottom: 10px;
    border: 3px solid rgb(41, 41, 42);
}

.collapsible-header{
    width: 100%;
    text-align: center;
    height:50px;
    background-color: rgb(41, 41, 42);
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.collapsible-header label{
    width: 11%;

}

.collapse-button{
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0);
    font-size: 17px;
    margin-right: 3px;
    transition: background-color 0.1s;
}

.collapse-button:hover{
    background-color: rgb(105, 105, 106);
}

h2{
    display: inline-block;
    padding-right: 20px;
}

.import-save-buttons button{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 200px;
}

.import-save-buttons button:disabled{
    background-color: rgb(0, 255, 0);
}


.trainer-info{
    padding-bottom: 10px;
}


.name{
    display: inline-block;
    
}

.pokemon-count{
    display: inline-block;
    
}

.level{
    display: inline-block;
}

.trainer-name{
    display: inline-block;
    padding-right: 10px;
}

.trainer-level{
    display: inline-block;
}

input, select{
    width: 350px;
    height: 35px;
    font-size: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.add-pokemon-btn{
    height: 100%;
    width: 16.66%;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    border-right: 2px solid rgb(105, 105, 106);
    border-radius: 0px;
    color: aqua;
    transition: background-color 0.1s;
}

.add-pokemon-btn:hover{
    background-color: rgb(84, 84, 84);
}

.remove-trainer-button{
    width: 30px;
    height: 30px;
    
}

.tournament-results{
    
    
    margin-left: auto;
}

.tournament-results label{
    margin-left: 50px;
    margin-right: 50px;
}

.best-win-button{
    margin: auto;
    border: none;
    border-radius: 0px;
    background: none;
}

.best-win-button:hover{
    cursor: pointer;
    text-decoration: underline;
    color: aqua;
}

.pokemon-block{
    width: 100%;
    border-radius: 2px;
    border-top: 3px solid rgb(41, 41, 42)
}

.pokemon-tabs{
    height:50px;
    background-color: rgb(56, 56, 56);
}

.pokemon-tab{
    float: left;
    background-color: rgba(0,0,0,0);
    height: 100%;
    width: 16.66%;
    border-radius: 0px;
    border-right: 2px solid rgb(105, 105, 106);
    transition: background-color 0.1s;
}

.pokemon-tab:hover{
    background-color: rgb(84, 84, 84);
}

.pokemon-details{
    width: fit-content;
    padding-top: 10px;
    
    
}

.pokemon-details input{
    width: 350px;
}

.stat-value-input input{
    width: 58.33px;
}

.stat-label{
    display: inline-block;
    margin-top: 17px;
    width: 58.33px;
    text-align: center;
}

@media (max-width: 930px){
    .pokemon-tabs{
        height: 120px;
    }

    .pokemon-tab{
        width: 33.33%;
        height: 50%;
    }

    .add-pokemon-btn{
        width: 33.33%;
        height: 50%;
    }


    .pokemon-column{
        width: 100%;
    }
    .pokemon-details input{
        width: 100%;
    }

    .pokemon-details select{
        width: 100%;
    }

    .stat-value-input input{
        width: 16.66%;
        
    }

    .stat-label{
        width: 16.66%;
    }

    .stat-value-input .inline-label{
        display: none;
    }
}

.pokemon-column{
    display: inline-block;
    vertical-align: top;
}

.pokemon-input{
    margin-bottom: 3px;
}

.inline-label{
    display: inline-block;
    width: 90px;
    font-weight: bold;
}

.stat-input-wrapper{
    display: inline-block;
    width: 350px;
}

.remove-pokemon-btn{
    float: right;
    font-size: 15px;
    vertical-align: top;
    background-color: rgba(0,0,0,0);
}

.remove-pokemon-btn:hover{
    color: aqua;
    background-color: rgb(78, 78, 79);
}

img{
    display: inline-block;
    vertical-align: middle;
}
.pokemon-label{
    vertical-align: middle;
}