<div>
<button class="collapsible-header" (click)="toggleCollapsible()">
    <h2>Trainer {{trainerNum}}</h2>
    <div class="info">
        <div class="name">
            Name: Youngster Joey
        </div>
        <div class="pokemon-count">
            {{this.pokeComponents.length}}/6 Pokemon
        </div>
    </div>
</button>
<div class="pokemon-list" [hidden]="this.collapsed" #container>
</div>
<button class="add-pokemon-button" [hidden]="this.pokeComponents.length > 5" (click)="addPoke()">Add Pokemon</button>
</div>