[submodule "backend/lib/json"]
	path = backend/lib/json
	url = git@github.com:nlohmann/json.git
[submodule "backend/lib/tfhttp"]
	path = backend/lib/tfhttp
	url = git@github.com:tfergus23/tfhttp.git
[submodule "backend/lib/tflib"]
	path = backend/lib/tflib
	url = git@github.com:tfergus23/tflib.git
