<div class="menuButtons">
    <app-menu-button [option]="'BATTLE'" [imagePath]="'../../assets/battle_menu_button.svg'"></app-menu-button>
    <app-menu-button [option]="'TOURNAMENT'" [imagePath]="'../../assets/tournament_menu_button.svg'"></app-menu-button>
    <app-menu-button [option]="'TRAINERS'" [imagePath]="'../../assets/trainers_menu_button.svg'"> </app-menu-button>
    <app-menu-button [option]="'RESULTS'" [imagePath]="'../../assets/results_menu_button.svg'"></app-menu-button>
</div>
<app-about></app-about>