
<div class="menuButtons">
    <app-menu-button [option]="'BATTLE'" [imagePath]="'../../assets/battle_menu_button.svg'"></app-menu-button>
    <app-menu-button [option]="'TOURNAMENT'" [imagePath]="'../../assets/tournament_menu_button.svg'"></app-menu-button>
    <app-menu-button [option]="'TRAINERS'" [imagePath]="'../../assets/trainers_menu_button.svg'"> </app-menu-button>
    <app-menu-button [option]="'RESULTS'" [imagePath]="'../../assets/results_menu_button.svg'"></app-menu-button>
</div>
<div class="section">
    <h1 class="news-header">Site News</h1>
    <div class="section-content">
        <div class="news-post">
            <h1>Moves and UI improvements</h1>
            <h5>01/13/2026</h5>
            <hr>
            <p>
                A smattering of moves have been implemented, as well as some improvements made to the mobile UI.
            </p>
            <h3>Moves</h3>
            <ul>
                <li>Leech Seed</li>
                <li>Fly</li>
                <li>Thunder</li>
                <li>Dig</li>
                <li>Iron Head</li>
                <li>Reflect</li>
                <li>Stealth Rock</li>
            </ul>
        </div>
        <div class="news-post">
            <h1>Protect and minor improvements</h1>
            <h5>11/03/2025</h5>
            <hr>
            <p>
                Protect has been added as a move, along with a few other minor improvements and bug fixes. The about page has also been updated.
            </p>
            <h3>Moves</h3>
            <ul>
                <li>Protect</li>
            </ul>
        </div>
        <div class="news-post">
            <h1>Status Moves</h1>
            <h5>10/27/2025</h5>
            <hr>
            <p>
                A few of the basic status moves have been added, as well as the other two starter abilities and Truant.
            </p>
            <h3>Moves</h3>
            <ul>
                <li>Toxic</li>
                <li>Spore</li>
                <li>Thunder Wave</li>
                <li>Will-O-Wisp</li>
                <li>Poison Powder</li>
                <li>Poison Gas</li>
            </ul>
            <h3>Abilities</h3>
            <ul>
                <li>Blaze</li>
                <li>Overgrow</li>
                <li>Truant</li>
            </ul>
        </div>
        <div class="news-post">
            <h1>Damaging Moves</h1>
            <h5>10/26/2025</h5>
            <hr>
            <p>
                Many moves have been added to the simulator - one for each type/damage category.
            </p>
            <h3>Moves</h3>
            <ul>
                <li>Return (always does max damage)</li>
                <li>Hyper Voice</li>
                <li>Flare Blitz</li>
                <li>Waterfall</li>
                <li>Thunderbolt</li>
                <li>Wild Charge</li>
                <li>Energy Ball</li>
                <li>Leaf Blade</li>
                <li>Ice Beam</li>
                <li>Ice Punch</li>
                <li>Close Combat</li>
                <li>Aura Sphere</li>
                <li>Sludge Bomb</li>
                <li>Poison Jab</li>
                <li>Earthquake</li>
                <li>Earth Power</li>
                <li>Air Slash</li>
                <li>Brave Bird</li>
                <li>Psychic</li>
                <li>Psycho Cut</li>
                <li>X-Scissor</li>
                <li>Bug Buzz</li>
                <li>Stone Edge</li>
                <li>Power Gem</li>
                <li>Shadow Ball</li>
                <li>Shadow Claw</li>
                <li>Dragon Claw</li>
                <li>Dragon Pulse</li>
                <li>Dark Pulse</li>
                <li>Night Slash</li>
                <li>Meteor Mash</li>
                <li>Flash Cannon</li>
                <li>Moonblast</li>
                <li>Play Rough</li>
            </ul>
            <p>
                I also added some sample trainers to use in a tournament in case you don't want to make your own.
            </p>
        </div>
        <div class="news-post">
            <h1>NPC Showdown Launch!</h1>
            <h5>10/25/2025</h5>
            <hr>
            <p>
                The site is officially live! It's pretty barebones at the moment, but the core functionality is there. The simulator has the following features implemented:
            </p>
            <h3>Moves</h3>
            <ul>
                <li>Tackle</li>
                <li>Karate Chop</li>
                <li>Pound</li>
                <li>Surf</li>
                <li>Flamethrower</li>
            </ul>
            <h3>Abilities</h3>
            <ul>
                <li>Torrent</li>
                <li>Guts</li>
            </ul>
            <h3>Items</h3>
            <ul>
                <li>Leftovers</li>
            </ul>
            <h3>Pokemon</h3>
            <ul>
                <li>All of them!</li>
            </ul>
            <p>
                Stay tuned for more to come...
            </p>
        </div>
    </div>
</div>