
<div class="menuButtons">
    <app-menu-button [option]="'BATTLE'" [imagePath]="'../../assets/battle_menu_button.svg'"></app-menu-button>
    <app-menu-button [option]="'TOURNAMENT'" [imagePath]="'../../assets/tournament_menu_button.svg'"></app-menu-button>
    <app-menu-button [option]="'TRAINERS'" [imagePath]="'../../assets/trainers_menu_button.svg'"> </app-menu-button>
    <app-menu-button [option]="'RESULTS'" [imagePath]="'../../assets/results_menu_button.svg'"></app-menu-button>
</div>
<div class="section">
    <h1>Site News</h1>
    <div class="section-content">
        <h2>NPC Showdown Launch! - 10/25/2025</h2>
        <p>
            The site is officially live! It's pretty barebones at the moment, but the core functionality is there. The simulator has the following features implemented:
        </p>
        <h3>Moves</h3>
        <ul>
            <li>Tackle</li>
            <li>Karate Chop</li>
            <li>Pound</li>
            <li>Surf</li>
            <li>Flamethrower</li>
        </ul>
        <h3>Abilities</h3>
        <ul>
            <li>Torrent</li>
            <li>Guts</li>
        </ul>
        <h3>Items</h3>
        <ul>
            <li>Leftovers</li>
        </ul>
        <h3>Pokemon</h3>
        <ul>
            <li>All of them!</li>
        </ul>
        <p>
            Stay tuned for more to come...
        </p>
        - Tom
    </div>
</div>