<datalist id="speciesList">
    <option *ngFor="let poke of dataLists?.speciesList" value="{{poke}}">{{poke}}</option>
</datalist>
<datalist id="abilityList">
    <option *ngFor="let ability of dataLists?.abilityList" value="{{ability}}">{{ability}}</option>
</datalist>
<datalist id="itemList">
    <option *ngFor="let item of dataLists?.itemList" value="{{item}}">{{item}}</option>
</datalist>
<datalist id="moveList">
    <option *ngFor="let move of dataLists?.moveList" value="{{move}}">{{move}}</option>
</datalist>