<div [hidden]="this.hidden" id="modal-background" (mousedown)="this.close($event)"   class="modal-background">
    <div [hidden]="this.hidden" class="modal-content" (mousedown)="$event.stopPropagation()">
        <h2>My Trainers</h2>
        <hr>
        <div class="trainers-container">
            <div [ngStyle]="{'background-color': this.selectedIndecies.includes(i) ? 'var(--light-background-color)' : 'var(--dark-background-color)'}" *ngFor="let trainer of this.trainers; index as i" (click)="this.selectTrainer(i)" (dblclick)="this.onDoubleClick()" class="user-trainer">
                <span class="horizontal-margin">{{trainer.name}}</span>
                <span class="horizontal-margin">{{trainer.team.length}}/6</span>
                <span class="horizontal-margin">{{trainer.trainerLevel}}</span>
            </div>
        </div>
        <button (click)="this.importSelectedTrainers()">Done</button>
    </div>
</div>