.navBar{
  background-color:rgb(41, 41, 41); 
  overflow: hidden;

  --dropdown-text-size: 14px;
}

.navBar .logo{
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}
.navBar .menu {
  float: left;
  padding-top: 22px;
}

.sign-up{
  margin-top: 22px;
  margin-right: 10px;
  display: block;
  float: right;
  width: fit-content;
}

.sign-up:hover{
  text-decoration: underline;
  cursor: pointer;
}

.navBar .user-container{
  width: fit-content;
  height: 100%;
  display: block;
  float: right;
  

}

.user-container input{
  font-size: 15px;
}

.navBar .user-container .signed-in{
  height: 60px;
  width: fit-content;
  border: none;
  background-color: rgb(41, 41, 41);
  color: aqua;
  font-size: 20px;
  font-weight: bolder;
}

.login {
  margin-top: 15px;
  width: fit-content;
}

.signed-in:hover{
  text-decoration: underline;
}

.navBar .user-container .username{
  width: fit-content;
  margin: auto;
}

.dropdown-content {
  position: absolute;
  right: 5px;
  background-color: rgb(41, 41, 41);
  min-width: 160px;
  z-index: 1;
  border-radius: 3px;
  border: 3px solid aqua;
  
}

.dropdown-content a {
  color: aqua;
  padding: 12px 16px;
  display: block;
  
  transition-duration: 0.2s;
  font-size: var(--dropdown-text-size);
}

.dropdown-content button{
  margin-top: 30px;
  color: red;
  padding: 12px 16px;
  display: block;
  transition-duration: 0.2s;
  background-color: rgb(41, 41, 41);
  border: none;
  width: 100%;
  font-size: var(--dropdown-text-size);
  border-radius: 0;
}

.dropdown-content a:hover{
  text-decoration: underline;
  background-color: rgb(105,105,106);
}

.dropdown-content button:hover{
  text-decoration: underline;
  background-color: rgb(105,105,106);
}

input{
  height: 25px;
}
.loginBtn{
  height: 33px;
  width: 100px;
}
.logout{
  color: red;
  cursor: pointer;
}
.logout :hover{
  text-decoration: underline, red;
}