.navBar{
  background-color:rgb(41, 41, 41); 
  overflow: hidden;
}

.navBar .logo{
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}
.navBar .menu {
  float: left;
  padding-top: 22px;
}



.navBar .login-container{
  float: right;
  padding-top: 22px;
}

input{
  height: 25px;
}
button{
  height: 33px;
  width: 100px;
}
.logout{
  color: red;
  cursor: pointer;
}
.logout :hover{
  text-decoration: underline, red;
}