<nav class ="navBar">
    <a class="logo" routerLink="/"><img class="logo-img" src="../../assets/npcs_logo.png" height="60" alt="logo"></a>
    <div class="menu">
        <a  (mouseover)="this.showMenuDropDown()" routerLink="/">MENU</a>
        <div class="menu-dropdown">
            <a routerLink="/battle">Battle</a>
            <a routerLink="/tournament">Tournament</a>
            <a routerLink="/trainers">Trainers</a>
            <a routerLink="/results">Results</a>
        </div>
    </div>
    <a routerLink="/about" class="about">ABOUT</a>
    <div *ngIf="!this.app.gettingUserData" (appClickOutside)="this.hideDropDown()" class="user-container">
        <a href="signup" *ngIf="!app.loggedInUser" class="sign-up">Sign Up</a>
        <button (click)="this.toggleUserDropDown()" *ngIf="app.loggedInUser" class="signed-in">
            <div class="username">{{app.loggedInUser!.name}}▼</div>
        </button>
        <div *ngIf="this.showUserDropdown" class="dropdown-content">
            <a routerLink="user/{{this.app.loggedInUser?.name}}/profile" (click)="this.hideDropDown()">Profile</a>
            <a routerLink="user/{{this.app.loggedInUser?.name}}/trainers" (click)="this.hideDropDown()">Saved Trainers</a>
            <a routerLink="user/{{this.app.loggedInUser?.name}}/tournaments" (click)="this.hideDropDown()">Saved Tournaments</a>
            <button (click)="this.logout()">Logout</button>
        </div>
        <div *ngIf="!app.loggedInUser" class="login">
            <input type="text" name="username" placeholder="Username" id="user_input">
            <input type="password" name="password" placeholder="Password" id="password_input" (keyup.enter)="login()">
            <button class="loginBtn" type="button" (click)="login()">Sign In</button>
        </div>
    </div>
    <app-spinner *ngIf="this.app.gettingUserData" [size]="'15px'"></app-spinner>
</nav>
