.container{
    margin: auto;
    width: 80%;
}

@media (max-width: 600px){
    .container{
        width: 100%;
    }
}

.result-column-headers{
    margin-left: 32px;
}

.result-column-headers button{
    width: 11%;
    height: 50px;
    text-align: left;
    border: none;
    background: var(--neutral-background-color);
    border-radius: 0px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.result-column-headers button:hover{
    background: var(--light-background-color);
}


.bold{
    font-weight: bolder;
}

.save-download-buttons button{
    width: 200px;
    height: 40px;
    margin-right: 10px;
}

.save-download-buttons button:disabled{
    background-color: rgb(0,255,0);
}

@media (max-width: 938px){
    .result-column-headers button{
        font-size: 10px;
    }
}