.container{
    margin: auto;
    width: 80%;
}

.result-column-headers button{
    width: 11%;
    height: 50px;
    text-align: left;
    border: none;
    background: rgb(78, 78, 79);
    border-radius: 0px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.result-column-headers button:hover{
    background: rgb(105, 105, 106);
}