<app-data-lists [dataLists]="this.dataLists"></app-data-lists>
<div class="profile-content">
    <h2>{{this.app.loggedInUser?.name}}'s Trainers</h2>
    <hr>
    <div class="details">
        <app-create-trainer *ngFor="let trainer of this.trainers; index as i" [parent]="this" [dataLists]="this.dataLists" [showEditButton]="true" [showAddMyTrainers]="false" [readOnly]="true" [collapsed]="true"  [readOnly]="true" [trainer]="trainer" [trainerNum]="(i+1).toString()"></app-create-trainer>
    </div>
</div>