

.container{
    text-align: left;
    margin: auto;
    width: 915px;
}

h1 {
    margin: auto;
    width: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
}

hr{
   border: 1px solid var(--light-background-color);
}

.submit-battle-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 500px;
    height: 80px;
    font-size: 20px;
    --btn-font-size: 20px;
    --spinner-size: 20px;
}

.battle-seed{
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


input, select{
    width: 350px;
    height: 35px;
    font-size: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


@media (max-width: 930px){
    .container{
        width: 95%;
    }

    .submit-battle-button{
        width: 95%;
    }

    .battle-seed input{
        width: 150px;
    }
}