<app-data-lists [dataLists]="this.dataLists"></app-data-lists>
<div [ngStyle]="{'pointer-events': this.pointerEvents}" class="container">
    <h1>Create a Battle</h1>
    <div class="trainer-list">
        <app-create-trainer [onEdit]="this.saveEntries" [dataLists]="dataLists" [trainerNum]="'1'"></app-create-trainer>
        <app-create-trainer [onEdit]="this.saveEntries" [dataLists]="dataLists" [trainerNum]="'2'"></app-create-trainer>
    </div>

    <app-error-box [errors]="this.errors"></app-error-box>

    <div class="battle-seed" #seed>
        <label>Seed (Optional): </label>
        <input (focusout)="this.saveEntries()">
    </div>
    <app-spinning-button [loadWhile]="whileSubmittingBattle" class="submit-battle-button" [click]="submit" [text]="'Simulate Battle!'"></app-spinning-button>
    <ul>
        <li *ngFor="let line of logLines">{{line}}</li>
    </ul>
</div>
<app-battle-log-view #logView></app-battle-log-view>