<app-data-lists [dataLists]="this.dataLists"></app-data-lists>
<div [ngStyle]="{'pointer-events': this.pointerEvents}" class="container">
    <h1>Create a Battle</h1>
    <div class="trainer-list">
        <app-create-trainer [dataLists]="dataLists" [trainerNum]="'1'"></app-create-trainer>
        <app-create-trainer [dataLists]="dataLists" [trainerNum]="'2'" [collapsed]="true"></app-create-trainer>
    </div>

    <div [hidden]="errors.length == 0" class="errors-box">
        <div class="errors-messages">
            <label>The following problems occurred:</label>
            <ul>
                <li *ngFor="let error of errors">{{error}}</li>
            </ul>
        </div>

    </div>

    <div class="battle-seed" #seed>
        <label>Seed (Optional): </label>
        <input>
    </div>
    <button class="submit-battle-button" (click)="submit()">Submit Battle</button>
    <ul>
        <li *ngFor="let line of logLines">{{line}}</li>
    </ul>
</div>
<app-battle-log-view #logView></app-battle-log-view>