<div class="container">
    <h1>Create a Battle</h1>
    <app-create-trainer [dataLists]="dataLists" [trainerNum]="'1'"></app-create-trainer>
    <app-create-trainer [dataLists]="dataLists" [trainerNum]="'2'"></app-create-trainer>
    <label class="errors" [hidden]="errors.length == 0">The following problems occurred:</label>
    <ul class="errors">
        <li *ngFor="let error of errors">{{error}}</li>
    </ul>
    <button class="submit-battle-button" (click)="submit()">Submit Battle</button>
    <ul>
        <li *ngFor="let line of logLines">{{line}}</li>
    </ul>
</div>