:root {
    --primary-color: rgb(0, 255, 255);
    --dark-background-color: rgb(45, 45, 46);
    --middle-background-color: rgb(54, 54, 55);
    --neutral-background-color:rgb(78, 78, 79);
    --upper-background-color: rgb(84, 84, 84);
    --light-background-color: rgb(105, 105, 106);
}


body{
    background-color:var(--neutral-background-color);
    color:var(--primary-color);
    font-family: sans-serif;
    margin: 0%;
}

a{
    text-decoration: none;
}
a:visited{
    color:var(--primary-color);
}
button{
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

button:disabled{
    background-color: gray;
    cursor:not-allowed;
}

input {
    background-color: var(--dark-background-color);
    color: var(--primary-color);
    border-radius: 5px;
    outline-offset: 0px;
}

select{
    background-color: var(--dark-background-color);
    color:var(--primary-color);
    border-radius: 5px;
}

input:focus{
    border-color: var(--primary-color);

}

select:focus{
    border-color: var(--primary-color);
}