body{
    background-color:rgb(78, 78, 79);
    color:rgb(0, 255, 255);
    font-family: Tahoma;
    margin: 0%;
}

a{
    text-decoration: none;
}
a:visited{
    color:rgb(0, 255, 255);
}
button{
    background-color: rgb(0, 255, 255);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

input {
    background-color: rgb(45, 45, 46);
    color:rgb(0, 255, 255);
    border-radius: 5px;
    outline-offset: 0px;
}

select{
    background-color: rgb(45, 45, 46);
    color:rgb(0, 255, 255);
    border-radius: 5px;
}

input:focus{
    border-color: rgb(0, 255, 255);

}

select:focus{
    border-color: rgb(0, 255, 255);
}