h1 {
    margin: auto;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

h2 {
    margin: auto;
    width: 500px;
    text-align: center;
}

.add-buttons{
    display: block;
    width: 580px;
    margin: auto;
    margin-bottom: 10px;
    border: 3px solid var(--dark-background-color);
    border-radius: 5px;
}

.add-buttons button{
    width: 250px;
    height: 50px;
    margin: 20px;
}

.tournament-trainer-list{
    margin: auto;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 40px;
}

.seed-field{
    display: block;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.seed-label{
    display: inline-block;
    width: 150px;
}

.seed-input{
    display: inline-block;
    width: 300px;
    height: 30px;
    font-size: 15px;
}

html, body{
    height: 100%;
}

.container{
    height: 100%;
    width: 915px;
    margin: auto;
}


app-spinning-button{
    display: block;
    width: 500px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 935px){
    .container{
        width: 100%;
    }
}

@media (max-width: 521px){
    app-spinning-button{
        width: 300px;
    }

    .seed-input{
        width: 100px;
    }
}

@media (max-width: 595px){
    h1 {
        width: 100%;
    }

    .add-buttons{
        width: 100%;
    }

    .add-buttons button{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
    }
}