h1 {
    margin: auto;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

h2 {
    margin: auto;
    width: 500px;
    text-align: center;
}

.add-buttons{
    width: fit-content;
    margin: auto;
}

.add-buttons button{
    width: 250px;
    height: 50px;
    margin: 20px;
}

.tournament-trainer-list{
    margin: auto;
    width: 100%;
    height: fit-content;
}

.seed-field{
    display: block;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-bottom: 5px;
}

.seed-label{
    display: inline-block;
    width: 150px;
}

.seed-input{
    display: inline-block;
    width: 300px;
    height: 30px;
    font-size: 15px;
}

html, body{
    height: 100%;
}

.container{
    height: 100%;
    width: 915px;
    margin: auto;
}


.submit-btn{
    display: block;
    width: 500px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
}

@media (max-width: 935px){
    .container{
        width: 100%;
    }
}

@media (max-width: 521px){
    .submit-btn{
        width: 300px;
    }

    .seed-input{
        width: 100px;
    }
}